<h1>THIS IS A PRIVATE ZONE ONLY FOR</h1> 
<br> 
<h2>{{user.username}}</h2>

<img src="https://media.giphy.com/media/3cLYEjIaxidkQ/giphy.gif" width="480" height="394"/>

<form action="/auth/logout" method="GET">
  <button type="submit">Logout</button>
</form>